<h2>Latest reviews</h2> <!-- 标题 -->

{% if latest_review_list %} <!-- 函数返回该变量 -->
<div>
    {% for review in latest_review_list %}  <!-- django 模板 for 循环 -->
    <div>
        <h4><a href="{% url 'reviews:review_detail' review.id %}"  >   <!-- url 使用url.py定义的name -->
            {{ review.wine.name }}
        </a></h4>
        <h6>rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <p> {{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}      <!-- django if else endif 模板-->
<p>No reviews are available.</p>
 {% endif %}