{% extends 'base.html' %}
{% load bootstrap3 %}       <!--  load the bootstrap3 library and use the bootstrap_* tags: -->

{% block title %}
<h2>{{ wine.name }}</h2>
<h5>{{ wine.review_set.count }} reviews ({{ wine.average_rating | floatformat }} average rating)</h5>
{% endblock %}


{% block content %}
<h3>Recent reviews</h3>

{% if wine.review_set.all %}
<div>
    {% for review in wine.review_set.all %}
    <div>
        <em>{{ review.comment }}</em>   <!-- <em> 标签告诉浏览器把其中的文本表示为强调的内容。对于所有浏览器来说，这意味着要把这段文字用斜体来显示。-->
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'reviews:review_detail' review.id %}">
            Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this wine yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{#<form action="{% url 'reviews:add_review' wine.id %}" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}     <!-- as_p() 渲染表单为一系列的<p> 标签，每个<p> 标签包含一个字段；<p> 一个段落 -->#}
{#    <input type="submit" value="Add" />#}
{#</form>#}

<form action="{% url 'reviews:add_review' wine.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>

{% endblock %}